body {background-color: #232323; margin: 0; font-family: Montserrat}

.square {width:30%; background-color: purple; border-radius: 15%;
padding-bottom: 30%; float:left; margin:1.66%;
transition: background 0.6s;}

#container{max-width: 600px; margin:20px auto;}

h1 {color:white; background-color: steelblue; margin:0;
text-align: center; font-weight: 400; text-transform: uppercase;
padding: 20px 0;}

#message {display: inline-block; width: 20%;}

#colorDisplay{font-size: 2.0em;}

p {background: white; text-align: center; margin:0;}

.select {background-color: steelblue; color: white;}

button:hover {color:white; background-color: steelblue}

button {border: none; background:none; font-weight:700;
text-transform: uppercase; height: 100%; color:steelblue;
letter-spacing: 1px; font-size:inherit; margin:0;
transition: all 0.3s; outline:none;}